*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

.header{
	display: block;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-bottom: 20px solid;
}


.roginbox{
	display:block;
	border: 10px solid;
	letter-spacing: 15px;
	width:500px;
	height: 200px;
	margin: 100px auto;
	text-align: center;
}

.box{
	margin-top: 50px;
}